@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
:root{
  --primary-color: rgb(58, 58, 58);
  --secondary-color: rgb(24, 25, 31);
  --paragraph-color: rgb(108, 108, 108);
  --cart-description-color: rgb(120, 120, 133);
  --button-color: rgb(224, 44, 109);
  --button-text-color: rgb(255, 255, 255);
  --dark-color: rgba(0, 0, 0, 0.87);
  --rating-color: rgb(251, 130, 0);
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Shared Styles */
.section{
  width: 90vw;
  margin: 0 auto;
}

.display-flex{
  display: flex;
}

.banner-title,
.banner-description,
.menu-title{
  font-weight: bold;
  color: var(--primary-color);
}

/* Header Area Style */


/* Navigation Style */
.menu-bar{
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.menu-title{
  font-size: 1.5rem;
}
.nav-items{
  gap: 2.5rem;
  }

.menu-item{
  font-size: 1rem;
  font-weight: 600;
}

.menu-item > a{
  color: var(--primary-color);
}

/* Banner Area Style */
.banner{
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner-content{
  width: 45vw;
}

.banner-title{
  font-size: 3rem;
}

.banner-description{
  font-size: 1rem;
  margin: 1rem 0;
}

.banner-img{
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

.btn-primary{
  padding: .7rem 1.5rem;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.fa-arrow-right{
  color: var(--button-text-color);
  margin-left: .5rem;
}

.fa-magnifying-glass{
  color: var(--dark-color);
}
/* Company Section Styles */
.companies{
  width: 80vw;
  border-top: 1px solid #dddddd9f;
  border-bottom: 1px solid #dddddd9f;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 1.5rem;
}

/* Collection Section Style */
.collection-container{
  margin: 4rem auto;
}

.collection-title{
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-color);
}

.collection-lists{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  margin: 2rem auto;
  gap: 2rem;
}

.collection-item{
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}

.list-title{
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 1rem 0;
}

.list-price{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-color);
  margin: 6px, 0;
}

.list-rating{
  font-size: 1rem;
  font-weight: 700;
  color: var(--cart-description-color);
}

.list-description{
  font-size: 1rem;
  font-weight: 700;
  color: var(--cart-description-color);
}

.stars{
  color: var(--rating-color);
  font-size: .75rem;
}

.see-more{
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}
.see-more > a{
  color: var(--button-color);
}
.see-more-icon{
  color: var(--button-color);
}

/* Feature Item Style */
.featured-item{
  justify-content: space-around;
  margin: 3rem auto;
  width: 80vw;
  align-items: center;
}

.featured-content{
  width: 40vw;
}

.feature-content-title{
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.feature-content-description{
  font-size: 1rem;
  font-weight: bold;
  color: var(--cart-description-color);
  margin: 1rem 0;
}

.feature-btn{
  border-radius: 0;
}

/* Footer Area Style */
.footer-area{
  background-color: var(--secondary-color);
  padding: 3rem;
  text-align: center;
  color: var(--button-text-color);
}

.footer-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-description{
  font-size: .8rem;
  color: rgb(217, 219, 225);
  margin: 5px 0;
}

.footer-icon{
  padding: 10px;
}

/* Small Device Responsive */
@media screen and (max-width: 576px) {
  
  .menu-bar,
  .nav-items{
    flex-direction: column;
  }
  
  .menu-title{
    margin-bottom: 1rem;
  }
  .menu-title{
    font-size: 1.25rem;
  }
  .nav-items{
    justify-content: space-around;
    gap: 1rem;
  }
  
  .companies{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
  }
  
  .collection-lists{
    grid-template-columns: repeat(1, 1fr);
  }
  
  .featured-item,
  .banner{
    flex-direction: column-reverse;
  }

  .banner{
    margin-top: 0;
  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-content{
    width: 90vw;
    text-align: center;
  }
  .banner-img{
    width: 70%;
    margin: 1rem auto;
  }
  .companies > img{
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
  }

  .collection-container{
    margin: 0 auto;
  }

  .collection-lists{
    gap: 1rem;
  }
  .collection-item{
    padding: 1rem;
  }
  .list-img{
    width: 100%;
  }

  .feature-img{
    width: 100%;
    border-radius: 8px;
    margin-top: 1.5rem;
  }
  .featured-content{
    width: 90vw;
    text-align: center;
  }
  .feature-content-title{
    font-size: 1.5rem;
  }

  .footer-area{
    width: 80vw;
    padding: 2rem;
  }
}

/* Medium Device Responsive */
@media screen and (min-width: 576.01px) and (max-width: 992px){
  .menu-bar{
    flex-direction: column;
  }
  .menu-title{
    margin-bottom: 1rem;
  }

  .featured-item,
  .banner{
    flex-direction: column-reverse;
  }

  .banner-title{
    font-size: 2rem;
  }
  .banner-content{
    width: 90vw;
    text-align: center;
  }
  .banner-img{
    width: 70%;
    margin: 1rem auto;
  }

  .companies{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
  }

  .collection-lists{
    grid-template-columns: repeat(1, 1fr);
  }

  .collection-container{
    margin: 0 auto;
  }

   .collection-item{
    padding: 1rem;
  }
  .list-img{
    width: 100%;
  }

  .feature-img{
    width: 100%;
    border-radius: 8px;
    margin-top: 1.5rem;
  }
  .featured-content{
    width: 90vw;
    text-align: center;
  }
  .footer-area{
    width: 100vw;
    padding: 2rem;
  }
}